{% include "header.html" %}

<!-- Page Header-->
<header
        class="masthead"
        style="background-image: url('../static/assets/img/home-bg.jpg')"
        xmlns="http://www.w3.org/1999/html">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <span class="subheading">desde 2022</span>
          <h1>Whatever News</h1>
          <span class="subheading">mira, yo qué sé</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
<!-- USUARIOS-->
    <div class="col-md-6 col-lg-6 col-xl-6 ">
      <p> USUARIOS</p>
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">nºcomments</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
                 <tr>

                    <th scope="row">{{ user.id }}</th>
                    <td><a href={{ url_for( "user_data", user_id=user.id) }}>{{ user.name }}</a></td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.comments|count }}</td>

                  </tr>

            {% endfor %}
          </tbody>
      </table>
    </div>
<!-- POSTS-->
          <div class="col-md-6 col-lg-6 col-xl-6 ">
      <p> POSTS</p>
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Date</th>
              <th scope="col">nºcomments</th>
            </tr>
          </thead>
          <tbody>
            {% for post in all_posts %}
                 <tr>

                    <th scope="row">{{ post.id }}</th>
                    <td><a href={{ url_for( "show_post", post_id=post.id) }}>{{ post.title }}</a></td>
                    <td>{{ post.author.name }}</td>
                    <td>{{ post.date }}</td>
                    <td>{{ post.comments|count }}</td>

                  </tr>

            {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
</div>

{% include "footer.html" %}
