{% include "header.html" %}

<!-- Page Header-->
<header
        class="masthead"
        style="background-image: url('../static/assets/img/home-bg.jpg')"
        xmlns="http://www.w3.org/1999/html">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <span class="subheading">desde 2022</span>
          <h1>Whatever News</h1>
          <span class="subheading">mira, yo qué sé</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
<!--  <div class="row gx-5 justify-content-center">-->
<!--    <div class="col-md-5 col-lg-4 col-xl-3"><p>Archivo</p>-->
<!--    </div>-->
<!--  </div>-->
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-2 col-lg-2 col-xl-2 ">
      <p> Archivo
      </p>
      {% for post in all_posts %}
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href={{ url_for("show_post", post_id=post.id) }} data-bs-toggle="tooltip" data-bs-title="Default tooltip" >{{ post.title }}</a>
        </li>
      </ul>
      {% endfor %}
      </p>
    </div>
    <div class="col-md-10 col-lg-8 col-xl-7">
      <!-- Post preview-->
      {% for post in all_posts %}
      <div class="post-preview">
        <a href="{{ url_for('show_post', post_id=post.id) }}">
          <h2 class="post-title">{{ post.title }}</h2>
          <h3 class="post-subtitle">{{ post.subtitle }}</h3>
        </a>
        <p class="post-meta">
          Posted by
          <a href="#">{{post.author.name}}</a>
          on {{post.date}}
          {% if current_user.is_authenticated and current_user.id == 1%}
          <a href="{{url_for('edit_post', post_id=post.id) }}" title="Editar">📝</a>
          <a href="{{url_for('delete_post', post_id=post.id) }}" title="Borrar Post">🗑️</a>
          {% endif %}
        </p>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %}

      <!-- New Post -->
      {% if current_user.is_authenticated and current_user.id == 1%}
      <div class="d-flex justify-content-end mb-4">
        <a
          class="btn btn-primary float-right"
          href="{{url_for('add_new_post')}}"
          >Create New Post</a
        >
      </div>
      {% endif %}
      <!-- Pager-->
      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-secondary text-uppercase" href="#!">Older Posts →</a>
      </div>
    </div>
  </div>
</div>

{% include "footer.html" %}
