{% from "bootstrap5/form.html" import render_form %} {% block content %} {%
include "header.html" %}

<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/register-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Regístrate</h1>
          <span class="subheading">Podrás comentar y en breves suscribirte a los emails</span>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 mx-auto">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

               {% for category, message in messages %}
                  <a class="{{ category }}" style="color:red;">{{ message }}</a>
               {% endfor %}
            {% endif %}
        {% endwith %}
        {{ render_form(form, button_style="warning", form_inline_classes="mb-1", button_size="sm", form_type="inline") }}
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %} {% endblock %}
